{% extends '::base.html.twig' %}

{% block title %}{{parent()}} - Players{% endblock %}
{% block body %}

<div class="container">
<h1>Created user: {{nick}}, id: {{playerId}}</h1>
<p class="lead">Now you can sign in with the password you provided.</p>
</div>

{% endblock %}
