{% extends '::base.html.twig' %}

{% block title %} {{parent()}} - Demo {% endblock %}
{% block body %}
<div class="hero-unit">
  <h1>This is</h1>
  <p>How it's gonna look like:</p>
</div>
<div class="container">
</div> 

{% endblock %}
